@font-face {
  font-family: "iconfont"; /* Project id 3967968 */
  src: url('//at.alicdn.com/t/c/font_3967968_wd6s01jturb.woff2?t=1680576409563') format('woff2'),
       url('//at.alicdn.com/t/c/font_3967968_wd6s01jturb.woff?t=1680576409563') format('woff'),
       url('//at.alicdn.com/t/c/font_3967968_wd6s01jturb.ttf?t=1680576409563') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-editor-right-alignment:before {
  content: "\e82a";
}

.icon-editor-left-alignment:before {
  content: "\e82b";
}

.icon-zhankai:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-gerenzhongxin:before {
  content: "\e603";
}

.icon-xiangmu1:before {
  content: "\e606";
}

.icon-xiangmu2:before {
  content: "\e607";
}

.icon-shangyiye:before {
  content: "\e60c";
}

.icon-xiayiye:before {
  content: "\e60d";
}

.icon-tishi:before {
  content: "\e610";
}

.icon-zengjia:before {
  content: "\e613";
}

.icon-jianshao:before {
  content: "\e614";
}

.icon-caidanliebiao:before {
  content: "\e61c";
}

.icon-wode:before {
  content: "\e61f";
}

.icon-mima:before {
  content: "\e621";
}

.icon-yanzhengma:before {
  content: "\e622";
}

.icon-chanpin1:before {
  content: "\e623";
}

.icon-shoucang:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e626";
}

.icon-weizhi:before {
  content: "\e628";
}

.icon-shouye1:before {
  content: "\e62a";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-gengduo:before {
  content: "\e62e";
}

.icon-wenjianjia:before {
  content: "\e63a";
}

.icon-shezhi:before {
  content: "\e63f";
}

.icon-bianji:before {
  content: "\e642";
}

.icon-gerenxinxi:before {
  content: "\e64c";
}

.icon-ditu:before {
  content: "\e650";
}

.icon-ziliao:before {
  content: "\e65f";
}

.icon-renliziyuan:before {
  content: "\e634";
}

.icon-gouwuche:before {
  content: "\e669";
}
